.gradle/
build/
!**/gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
out/
.project
.classpath
.settings/
bin/

run/
logs/
*.log
crash-reports/
hs_err_pid*.log
replay_pid*.log

.DS_Store
Thumbs.db

*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
